<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        #messages {
            border: 1px solid #ccc;
            height: 300px;
            overflow-y: scroll;
            padding: 10px;
            margin-bottom: 10px;
        }

        #messageInput {
            width: 80%;
            padding: 10px;
            margin-right: 10px;
        }

        #sendButton {
            padding: 10px 20px;
        }
    </style>
</head>
<body>
<h1>WebSocket Chat</h1>

<div>
    <label for="usernameInput">Username:</label>
    <input type="text" id="usernameInput" placeholder="Enter your username">
    <label for="roomInput">Room:</label>
    <input type="text" id="roomInput" placeholder="Enter room name">
    <button id="connectButton">Connect</button>
</div>

<div id="messages"></div>

<input type="text" id="messageInput" placeholder="Enter your message...">
<button id="sendButton">Send</button>

<script>
    let chatSocket;
    document.querySelector('#connectButton').onclick = function (e) {
        const username = document.querySelector('#usernameInput').value;
        const roomName = document.querySelector('#roomInput').value;

        chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/app/' + encodeURIComponent(roomName) + '/' + encodeURIComponent(username) + '/'
        );


        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#messages').innerHTML += (data.sender + ': ' + data.message + '<br>');
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
    };

    document.querySelector('#sendButton').onclick = function (e) {
        const messageInputDom = document.querySelector('#messageInput');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };

    document.querySelector('#messageInput').onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector('#sendButton').click();
        }
    };
</script>
</body>
</html>
